.richText {
  line-height: 20px;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  border-bottom: 1.5px solid black;
}

.strikethrough {
  text-decoration: line-through;
}