.content {
  padding-bottom: 48px;

  h1 {
    padding: 24px 0 16px 0;
    font-size: 32px;
    font-weight: 500;
  }
  h2 {
    padding: 20px 0 8px 0;
    font-size: 24px;
    font-weight: 500;
  }
  h3 {
    padding: 16px 0 8px 0;
    font-size: 20px;
    font-weight: 500;
  }
  hr {
    margin: 16px 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid #DDDDDD;
  }
  p {
    font-size: 16px;
    line-height: 28px;
  }
  img {
    max-width: 100%;
  }
  a {
    color: #A35EC3;
  }
  .link {
    display: block;
    padding: 8px 16px;

    color: #000000;
    text-decoration: none;

    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 8px;

    .content {
      p:first-child {
        font-size: 18px;
        font-weight: 500;
      }
      padding: 0;
    }
  }
}