.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 74px;

  width: 100%;
  height: 30px;

  ul {
    display: flex;
    gap: 8px 0;

    width: 576px;

    li {
      a {
        display: block;

        width: 96px;
        height: 100%;

        color: #120024;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
      }
      a.active {
        font-weight: 700;
      }
    }
  }

  img {
    width: 282px;
    height: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    flex-direction: column;
    align-items: center;

    margin-bottom: 48px;

    height: 76px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    height: 110px;

    ul {
      flex-wrap: wrap;

      width: 288px;
    }
  }
}