.content {
  margin: 0 auto;
  width: 900px;
}

@media only screen and (max-width: 1200px) {
  .content {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    width: 376px;
  }
}