.nav {
  display: flex;
  gap: 48px;

  margin-bottom: 48px;
}

@media only screen and (max-width: 1200px) {
  .nav {
    gap: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    gap: 48px;
  }
}