.image {
  display: flex;
  justify-content: center;

  img {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 1200px) {
  .image img {
    max-width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .image img {
    max-width: 386px;
  }
}