.title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;

  margin-bottom: 16px;
}

.description {
  padding-bottom: 20px;
  margin-bottom: 20px;

  text-align: center;
  font-size: 16px;
  line-height: 24px;

  border-bottom: 1px solid #DDDDDD;
}