.search {
  display: flex;

  width: 368px;
  height: 40px;

  padding: 4px 16px;
  margin-bottom: 24px;

  border: 1px solid #DDDDDD;
  border-radius: 20px;
  box-sizing: border-box;

  input {
    width: 100%;

    border: none;
    font-size: 14px;

    &::placeholder {
      color: #AAAAAA;
    }
    &:focus {
      outline: none;
    }
  }
  img {
    border-radius: 8px;
  }
}

@media (hover:hover) and (pointer:fine)  {
  .search {
    img:hover {
      background-color: #EEEEEE;
      cursor: pointer;
    }
  }
}