.title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;

  margin-bottom: 16px;
}

.description {
  padding-bottom: 20px;
  margin-bottom: 20px;

  text-align: center;
  font-size: 16px;
  word-break: keep-all;
  line-height: 24px;

  border-bottom: 1px solid #DDDDDD;
}

.content {
  padding-bottom: 72px;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 28px;
    line-height: 32px;
  }
}