.bookmark {
  display: flex;

  width: 100%;
  height: 124px;

  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 16px;
  overflow: hidden;
  text-decoration: none;
  color: #333333;

  &:hover {
    background-color: #EEEEEE;
  }
}

.image {
  width: 200px;
  height: 124px;

  flex-grow: 0;
  flex-shrink: 0;

  object-fit: cover;
}

.content {
  min-width: 0;
  width: 100%;
  height: 100%;

  flex-grow: 0;

  padding: 16px 20px;
  box-sizing: border-box;

  & > p:nth-of-type(1) {
    width: 100%;
    margin-bottom: 8px;

    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }
  & > p:nth-of-type(2) {
    min-width: 0;
    margin-bottom: 16px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #666666;
  }
}

.url {
  display: flex;
  gap: 8px;
  min-width: 0;

  p {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #999999;
  }
}