main {
  margin-top: 56px;
  position: relative;
  left: 50%;

  translate: -50% 0;

  width: 1200px;
}

@media only screen and (max-width: 1200px) {
  main {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  main {
    margin-top: 48px;
    width: 384px;
  }
}

.utterances {
  max-width: none;
  width: 100%;
  margin: 0;
}
.utterances-frame {
  width: 100%;
}