.content {
  position: relative;

  width: 1200px;
  height: 700px;

  div {
    position: absolute;
    transition: all 500ms ease;
  }

  div:nth-of-type(1) {
    left: 0;
    top: 0;
  }

  div:nth-of-type(2) {
    left: 350px;
    top: 0;
  }

  div:nth-of-type(3) {
    left: 850px;
    top: 0;
  }

  div:nth-of-type(4) {
    left: 350px;
    top: 350px;
  }

  div:nth-of-type(5) {
    left: 750px;
    top: 350px;
  }

  &::before {
    display: block;
    content: '';

    width: 106px;
    height: 172px;

    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: opacity 500ms linear;
    opacity: 0;
  }
  &::after {
    display: block;
    content: '';

    width: 106px;
    height: 172px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: opacity 500ms linear;
    opacity: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .content {
    width: 768px;
    height: 448px;

    div:nth-of-type(2) {
      left: 224px;
      top: 0;
    }

    div:nth-of-type(3) {
      left: 544px;
      top: 0;
    }

    div:nth-of-type(4) {
      left: 224px;
      top: 224px;
    }

    div:nth-of-type(5) {
      left: 480px;
      top: 224px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .content {
    width: 376px;
    height: 740px;

    div:nth-of-type(2) {
      left: 0;
      top: 368px;
    }

    div:nth-of-type(3) {
      left: 176px;
      top: 184px;
    }

    div:nth-of-type(4) {
      left: 176px;
      top: 0;
    }

    div:nth-of-type(5) {
      left: 118px;
      top: 552px;
    }

    &::before {
      position: absolute;
      left: 270px;
      top: 368px;

      opacity: 1;
    }

    &::after {
      position: absolute;
      left: 0;
      top: 552px;

      opacity: 1;
    }
  }
}