.template {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 48px 48px;
}

@media only screen and (max-width: 1200px) {
  .template {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .template {
    grid-template-columns: 1fr;
  }
}