.title {
  margin-bottom: 48px;

  width: 100%;
  height: 260px;

  object-fit: cover;
}

@media only screen and (max-width: 1200px) {
  .title {
    height: 230px;
  }
}
@media only screen and (max-width: 768px) {
  .title {
    height: 126px;
  }
}