.callout {
  display: flex;
  gap: 8px;

  align-items: flex-start;

  width: 100%;
  padding: 16px 20px;

  box-sizing: border-box;

  border: 1px solid #DDDDDD;
  border-radius: 16px;
  background-color: #FFFFFF;
}